body{
    background: #141E30;   
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  
    background: linear-gradient(to right, #243B55, #141E30);  
} 
h1,h2,h3,h4,h5,p,a{
    font-family: 'Josefin Sans', sans-serif;
}
h1{
    color: #adc7cc;
    text-align: center;
}
h2{
    color: rgb(224, 224, 207);
}
p{
    color: #b3b3b3;
}
.titles{
    width: 100%;
    height: 12%;
}
#canvas{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 80%;
    bottom: 0%;
}


#fp-nav ul li a span{
    background-color: #4E9CAF;
}

/*--------------HOME-----------------------*/

#img_header{
    position: absolute;
    width: 100%;
    top: 0%;
}
.home_title{
    font-size: 35px;    
}
.chev_down{
    position: absolute;
    left: 50%;
    bottom: 5%;
    animation: up-down 1s ease infinite;
}
@keyframes up-down{
    0% { transform: translateY(-30px);}
    25% { transform: translateY(0);}
    100% { transform: translateY(-30px);}
}


/*--------------GAT-----------------------*/
.graph{
    position:relative;
    left: 50%;
    transform: translateX(-50%);       /*center item with relative positioning*/
    width: 70%;
}
.info_GAT{
    width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);      
    
}
.hyper{
    text-decoration: none;
    display: block;
    width: 100px;
    height: 20px;
    background: #4E9CAF;
    padding: 10px;
    margin:10px;
    text-align: center;
    border-radius: 5px;
    color: rgb(224, 224, 207);
    font-weight: bold;
    line-height: 25px;
}




/*--------------ISS-----------------------*/
#mapid {
     height: 480px; 
     border-radius: 10px;
}




/*--------------APOD-----------------------*/

.Apod{
    display: flex;

}
.pic{
    width: 50%;
    text-align: right;
}
.description{
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}
#apod_img{
    /*
    center image    
    display: block;
    margin-left: auto;
    margin-right: auto;
    If the CSS width property is set to 100%, the image will be responsive and scale up and down
    If the max-width property is set to 100%, the image will scale down if it has to, but never scale up to be larger than its original size:*/

    border-radius: 1rem;
}
#explanation{
    text-align: left;
}



/*--------------MEDIA QUERIES-----------------------*/

@media only screen and (max-width: 1440px){
    #apod_img{
        width: 600px;
        height: 600px;
    }
    .graph{
        width: 95%;
    }
}
@media only screen and (max-width: 1024px){
    #apod_img{
        width: 500px;
        height: 500px;
    }
    .graph{
        width: 100%;
    }
}
@media only screen and (max-width: 768px){
    #apod_img{
        width: 400px;
        height: 400px;
    }
    .graph{
        width: 100%;
    }
}
@media only screen and (max-width: 425px){
    .titles{
        height: 7%;
    }
    #apod_img{
        width: 300px;
        height: 300px;
        justify-content: center;
    }
    .Apod{
        flex-direction: column;

        align-items: center;

    }
    .pic{
        width: auto;
        text-align: right;
    }
    .description{
        width:90%;
        margin-left: auto;
        margin-right: auto;
    }

}

